<head>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .wrap-content {
            display: flex;
            height: 850px;
            width: 100%;
            justify-content: center;
        }

        .content {
            margin-top: 100px;
            height: 700px;
            width: 900px;

            border: 1px solid black;
        }

        h2,
        h3,
        h4 {
            padding: 10px;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: left;
            padding: 4px;
        }

        table {
            text-align: center;
            width: 97%;
            margin: 10px;
            line-height: ;
        }
    </style>

</head>
<div class="wrap-content">
    <div class="content">
        <h2>
            NGHỊ ĐỊNH_{{law.chuong}}_{{law.muc}}_{{law.dieu}}_{{law.khoan}} quy định:
        <h3>
            THUỘC TÍNH  NGHỊ ĐỊNH_{{law.chuong}}_{{law.muc}}_{{law.dieu}}_{{law.khoan}}:
        </h3>
        <h4>T NGHỊ ĐỊNH_{{law.chuong}}_{{law.muc}}_{{law.dieu}}_{{law.khoan}} của Bộ Lâm Nghiệp quy định theo chương:{{law.chuong}}--điều:{{law.dieu}}--khoản:{{law.khoan}}--mục:{{law.muc}} như sau:
        </h4>

        <table>
            <tr>
                <th>Chương</th>
                <td>{{law.chuong}}</td>
                <th>Mức phạt trên:</th>
                <td>{{law.priceabove}}</td>
            </tr>
            <tr>
                <th>Mục</th>
                <td>{{law.muc}}</td>
                <th>Mức phạt dưới:</th>
                <td>{{this.pricebelow}}</td>
            </tr>
            <tr>
                <th>Điều</th>
                <td>{{law.dieu}}</td>
                <th>Ngày ban hành:</th>
                <td></td>
            </tr>
            <tr>
                <th>Khoản</th>
                <td>{{law.khoan}}</td>
                <th>Hiệu lực:</th>
                <td id="longhoang">1</td>
            </tr>

        </table>

        <div class="details-content">
            <h2>Nội dung nghị định</h2>
            <h4 style="padding:10px; line-height:20px; ">{{law.content}}</h4>
        </div>
    </div>
</div>