<div class="container js-modalContainer">
    <!-- slide show  -->

    <!-- start search law -->
    <div class="road">
        <i class="fa-solid fa-house"></i>
        <a href="/home" style="text-decoration: none; color: black">Trang chủ /</a>
        <a href="#" style="text-decoration: none; color: black">Văn bản mới /</a>
    </div>
    <div class="search-content">
        <div class="input-search-content">
            <div class="btn-search">
                <input type="text" placeholder="Nhập nội dung tìm kiếm" />
                <span>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span style="font-size: 16px;">Tìm kiếm</span>
                </span>
            </div>
        </div>
        <div class="btn">
            <span><i class="fa-solid fa-filter"></i>Tìm kiếm nâng cao</span>
            <label for="">
                <input type="radio" value="1" name="select"> Tất cả
            </label>
            <label for="">
                <input type="radio" value="1" name="select"> Tiêu đề
            </label>
            <label for="">
                <input type="radio" value="1" name="select"> Số hiệu văn bản
            </label>
            <div style="cursor: pointer;" onclick="clickShow()">
                <span>Thu gọn</span>
                <i class="fa-solid fa-caret-up"></i>
            </div>
        </div>
        <div id="hiden-search-none" class="hiden-search-none">
            <div class="hiden-search">
                <select id="chương" name="Chương">
                    <option value="0">Chọn Chương:</option>
                    <option value="1" name="chuong">1</option>
                    <option value="2" name="chuong">2</option>
                    <option value="3" name="chuong">3</option>
                    <option value="4" name="chuong">4</option>
        
        
                </select>
                <select id="điều" name="Điều">
                    <option value="">Chọn Điều:</option>
        
                    <option value="" name="dieu"></option>
        
                </select>
                <select id="khoản" name="khoan">
                    <option value="0">Chọn Khoản:</option>
        
                    <option value="" name="khoan"></option>
        
                </select>
                <select id="mục" name="Mục">
                    <option value="0">Chọn Mục:</option>
        
                    <option value="" name="muc"></option>
        
                </select>
                <select id="mức phạt" name="Mức Phạt Trên">
                    <option value="0">Chọn Mức Phạt Trên:</option>
                    <option value=""></option>
                </select>
                <select id="mức phạt" name="Mức Phạt Dưới">
                    <option value="0">Chọn Mức Phạt Dưới:</option>
        
                    <option value=""></option>
        
                </select>
            </div>
        </div>
    </div>
    <div class="container-content" style="display: flex; justify-content: center" >
        <div class="content-1" id="content-1">
            {{#each law }}
            <div class="container-showpara">
                <div class="container-showpara-content">
                     <span style="font-weight: 500;">
                        NGHỊ ĐỊNH_{{this.chuong}}_{{this.muc}}_{{this.dieu}}_{{this.khoan}}
                    </span>
                    <div>
                        <h4 style="font-weight: 300">Ngày tạo: </h4>
                        <h4 style="font-weight: 300">Ngày cập nhật: {{this.updatedAt}}</h4>
                        <h4 style="font-weight: 300">Hiệu lực:</h4>
                        <h4 style="font-weight: 300">Áp dụng:</h4>

                    </div>
                </div>

                <div class="container-showpara-function">
                    <div class="function-div">
                        <i class="fa-solid fa-arrows-to-circle"></i>
                        <h4>Nội dung</h4>
                    </div>
                    <div class="function-div">
                        <i class="fa-solid fa-download"></i>
                        <h4>Tải Xuống</h4>
                    </div>
                    <div class="function-div">
                        <i class="fa-solid fa-align-justify"></i>
                        <h4>Văn bản liên quan</h4>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>

    </div>
</div>